<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="w-full h-full bg-zinc-900">
        <form action="">
            <input class="px-5 py-3 bg-transparent p-10 text-white" type="text">
        </form>
    </div>
    <h1>Hey </h1>
</body>
</html>